<div class="text-center py-10 bg-blue-100">
  <!-- Imagen de perfil -->
  <img src="assets/profile.jpg" alt="Portfolio" class="w-32 h-32 rounded-full mx-auto">

  <!-- Información personal -->
  <h1 class="text-3xl font-bold mt-4">Germán Morales Navia</h1>
  <p class="text-gray-600">Estudiante Ingeniería Civil en Computación e Informática | UCN</p>

  <!-- Redes sociales -->
  <div class="flex flex-col items-center space-y-2 mt-4">
    <a
      href="https://www.linkedin.com/in/german-agustin-morales-navia-88247333b/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-600 hover:underline"
    >
      LinkedIn: Germán Morales Navia
    </a>
    <a
      href="https://github.com/GrMNIII"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-600 hover:underline"
    >
      GitHub: GrMNIII
    </a>
  </div>
</div>
