<div class="relative text-center py-10 bg-blue-100">
  <img src="images/fotoPortafolio.jpg" alt="Foto Portafolio" class="absolute top-4 left-4 w-12 h-12 rounded-full">

  <h1 class="text-3xl font-bold mt-4">Germán Agustín Morales Navia</h1>
  <p class="text-gray-600">Estudiante Ingeniería Civil en Computación e Informática | UCN</p>

  <div class="flex flex-col items-center space-y-2 mt-4">
    <a
      href="https://www.linkedin.com/in/german-agustin-morales-navia-88247333b/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-600 hover:underline"
    >
      LinkedIn: Germán Morales Navia
    </a>
    <a
      href="https://github.com/GrMNIII"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-800 hover:underline"
    >
      GitHub: GrMNIII
    </a>
  </div>

  <div class="mt-6 px-6 text-left max-w-3xl mx-auto">
    <h2 class="text-2xl font-bold mb-4">Sobre mí</h2>
    <p class="text-gray-700">
      Me llamo Germán Agustín Morales Navia y soy estudiante de cuarto año de la Carrera de Ingeniería Civil en Computación e Informática.
      Gracias a la experiencia de estudiar esta carrera he encontrado una pasión por el desarrollo de software y la investigación de nuevas
      tecnologías, aunque también me gusta experimentar en otras áreas como el desarrollo de videojuegos gracias a proyectos realizados en años anteriores.
    </p>
    <p class="text-gray-700 mt-4">
      Mi más grande motivación para seguir adelante con mis estudios es el día de mañana poder tener un buen trabajo en una gran empresa
      en el extranjero y estar al tanto de nuevas tecnologías y desarrollos en el área de la inteligencia artificial y el desarrollo de software.
    </p>
  </div>
</div>
