<div class="py-10 bg-white">
  <h2 class="text-2xl font-bold text-center mb-4">Habilidades técnicas</h2>
  <p class="text-gray-600 text-center mb-6">Las habilidades técnicas son conocimientos específicos y capacidades prácticas relacionadas con tareas o herramientas particulares, como programación, diseño gráfico o manejo de maquinaria.</p>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="text-center">
      <span class="block text-xl font-bold text-blue-500">JavaScript</span>
    </div>
    <div class="text-center">
      <span class="block text-xl font-bold text-blue-500">Angular</span>
    </div>
    <!-- Añade más habilidades aquí -->
    <div class="text-center">
      <span class="block text-xl font-bold text-blue-500">Python</span>
    </div>
    <div class="text-center">
      <span class="block text-xl font-bold text-blue-500">C++</span>
    </div>
    <div class="text-center">
      <span class="block text-xl font-bold text-blue-500">C#</span>
    </div>
    <div class="text-center">
      <span class="block text-xl font-bold text-blue-500">Java</span>
    </div>
    <div class="text-center">
      <span class="block text-xl font-bold text-blue-500">GitHub</span>
    </div>
    <div class="text-center">
      <span class="block text-xl font-bold text-blue-500">Unity</span>
    </div>
  </div>
</div>

<div class="py-10 bg-white">
  <h2 class="text-2xl font-bold text-center mb-4">Habilidades blandas</h2>
  <p class="text-gray-600 text-center mb-6">Las habilidades blandas son competencias personales y sociales que facilitan la interacción efectiva con los demás y el manejo de situaciones laborales y personales.</p>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="text-center">
      <span class="block text-xl font-bold text-blue-500">Comunicación efectiva</span>
      <p class="text-gray-600 text-center">Líder de equipo en proyectos de desarrollo de videojuegos.</p>
    </div>
    <div class="text-center">
      <span class="block text-xl font-bold text-blue-500">Liderazgo</span>
      <p class="text-gray-600 text-center">Líder de equipo en proyectos de desarrollo de videojuegos.</p>
    </div>
    <div class="text-center">
      <span class="block text-xl font-bold text-blue-500">Compañerismo</span>
      <p class="text-gray-600 text-center">Seleccionado como el mejor equipo en Proyecto Integrador de Software.</p>
    </div>
    <div class="text-center">
      <span class="block text-xl font-bold text-blue-500">Acción social</span>
      <p class="text-gray-600 text-center">Participación en votación regional como miembro de Servel.</p>
    </div>
  </div>
</div>
